Repository kubernetes-sigs/karpenter, pull requests merged in 2024-05, with the labels that each got.

#1221 ci: Remove needs-triage auto-add
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1233 chore: Clarify failed scheduling error on all disruption methods
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/controller.go
  pkg/controllers/disruption/drift.go
  pkg/controllers/disruption/expiration.go
  pkg/controllers/disruption/helpers.go
  pkg/controllers/disruption/validation.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/controllers/provisioning/scheduling/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1048 feat: support custom instance types with the KWOK provider
  Makefile
  kwok/README.md
  kwok/cloudprovider/cloudprovider.go
  kwok/cloudprovider/const.go
  kwok/cloudprovider/helpers.go
  kwok/cloudprovider/instance_types.json
  kwok/examples/instance_types.json
  kwok/main.go
  kwok/tools/gen_instance_types.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#1187 fix: update metric when there are zero disruption candidates
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/controller.go
  pkg/controllers/disruption/drift.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/emptiness.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/emptynodeconsolidation.go
  pkg/controllers/disruption/expiration.go
  pkg/controllers/disruption/expiration_test.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/disruption/singlenodeconsolidation.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/node/termination/suite_test.go
  pkg/controllers/state/cluster.go
  pkg/controllers/state/metrics.go
  pkg/controllers/state/suite_test.go
  pkg/test/expectations/expectations.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1240 chore: unpin go version in go mod
  go.mod
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1234 feat: add kind cluster gha
  .github/workflows/test-kind.yaml
  Makefile
  hack/toolchain.sh
Labels: cncf-cla: yes, lgtm, approved, size/L

#1243 revert changes made in #1164, #1170 and #1172
  pkg/cloudprovider/types.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/suite_test.go
  pkg/controllers/nodeclaim/termination/controller.go
  pkg/controllers/nodeclaim/termination/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#1245 BREAKING: Convert knative status conditions to operatorpkg
  go.mod
  go.sum
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/v1beta1/nodeclaim_status.go
  pkg/apis/v1beta1/zz_generated.deepcopy.go
  pkg/controllers/disruption/drift.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/emptiness.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/expiration.go
  pkg/controllers/disruption/expiration_test.go
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/nodeclaim/consistency/nodeshape.go
  pkg/controllers/nodeclaim/disruption/drift.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/nodeclaim/disruption/emptiness.go
  pkg/controllers/nodeclaim/disruption/emptiness_test.go
  pkg/controllers/nodeclaim/disruption/expiration.go
  pkg/controllers/nodeclaim/disruption/expiration_test.go
  pkg/controllers/nodeclaim/disruption/suite_test.go
  pkg/controllers/nodeclaim/garbagecollection/controller.go
  pkg/controllers/nodeclaim/lifecycle/initialization.go
  pkg/controllers/nodeclaim/lifecycle/initialization_test.go
  pkg/controllers/nodeclaim/lifecycle/launch.go
  pkg/controllers/nodeclaim/lifecycle/launch_test.go
  pkg/controllers/nodeclaim/lifecycle/liveness.go
  pkg/controllers/nodeclaim/lifecycle/registration.go
  pkg/controllers/nodeclaim/lifecycle/registration_test.go
  pkg/controllers/nodepool/hash/controller.go
  pkg/controllers/nodepool/hash/suite_test.go
  pkg/controllers/provisioning/scheduling/suite_test.go
  pkg/test/expectations/expectations.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL

#1249 Changed wording for Karpenter implementations
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test

#1255 ci: Update golangci-lint config to latest
  .golangci.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#1254 chore: Don't require message or reason to be set for NodeClaim status conditions
  Makefile
  hack/validation/status.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1257 chore: Bump operatorpkg to latest
  go.mod
  go.sum
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1247 chore: Convert to controller-runtime's new `reconcile.AsReconciler`
  pkg/controllers/controllers.go
  pkg/controllers/disruption/controller.go
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/disruption/orchestration/suite_test.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/leasegarbagecollection/controller.go
  pkg/controllers/leasegarbagecollection/suite_test.go
  pkg/controllers/metrics/node/controller.go
  pkg/controllers/metrics/node/suite_test.go
  pkg/controllers/metrics/nodepool/controller.go
  pkg/controllers/metrics/nodepool/suite_test.go
  pkg/controllers/metrics/pod/controller.go
  pkg/controllers/metrics/pod/suite_test.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/suite_test.go
  pkg/controllers/node/termination/terminator/eviction.go
  pkg/controllers/nodeclaim/consistency/controller.go
  pkg/controllers/nodeclaim/consistency/suite_test.go
  pkg/controllers/nodeclaim/disruption/controller.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/nodeclaim/disruption/emptiness_test.go
  pkg/controllers/nodeclaim/disruption/expiration_test.go
  pkg/controllers/nodeclaim/disruption/suite_test.go
  pkg/controllers/nodeclaim/garbagecollection/controller.go
  pkg/controllers/nodeclaim/garbagecollection/suite_test.go
  pkg/controllers/nodeclaim/lifecycle/controller.go
  pkg/controllers/nodeclaim/lifecycle/initialization_test.go
  pkg/controllers/nodeclaim/lifecycle/launch_test.go
  pkg/controllers/nodeclaim/lifecycle/liveness_test.go
  pkg/controllers/nodeclaim/lifecycle/registration_test.go
  pkg/controllers/nodeclaim/lifecycle/suite_test.go
  pkg/controllers/nodeclaim/termination/controller.go
  pkg/controllers/nodeclaim/termination/suite_test.go
  pkg/controllers/nodepool/counter/controller.go
  pkg/controllers/nodepool/counter/suite_test.go
  pkg/controllers/nodepool/hash/controller.go
  pkg/controllers/nodepool/hash/suite_test.go
  pkg/controllers/provisioning/controller.go
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/suite_test.go
  pkg/controllers/provisioning/suite_test.go
  pkg/controllers/state/informer/daemonset.go
  pkg/controllers/state/informer/node.go
  pkg/controllers/state/informer/nodeclaim.go
  pkg/controllers/state/informer/nodepool.go
  pkg/controllers/state/informer/pod.go
  pkg/controllers/state/suite_test.go
  pkg/operator/controller/controller.go
  pkg/operator/controller/singleton.go
  pkg/operator/controller/suite_test.go
  pkg/operator/controller/typed.go
  pkg/operator/operator.go
  pkg/test/expectations/expectations.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#1246 chore: Factor minValues requirements checking into the InstanceTypes methods
  pkg/cloudprovider/types.go
  pkg/controllers/disruption/consolidation.go
  pkg/controllers/disruption/helpers.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/provisioning/scheduling/instance_selection_test.go
  pkg/controllers/provisioning/scheduling/nodeclaim.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/controllers/provisioning/scheduling/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1272 chore: change knative ptr to lo ptr
  pkg/apis/v1beta1/nodeclaim_validation.go
  pkg/apis/v1beta1/nodeclaim_validation_cel_test.go
  pkg/apis/v1beta1/nodeclaim_validation_webhook_test.go
  pkg/apis/v1beta1/nodepool.go
  pkg/apis/v1beta1/nodepool_validation_cel_test.go
  pkg/apis/v1beta1/nodepool_validation_webhook_test.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/expiration_test.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/node/termination/suite_test.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/nodeclaim/disruption/emptiness_test.go
  pkg/controllers/nodepool/hash/suite_test.go
  pkg/controllers/provisioning/scheduling/nodeclaimtemplate.go
  pkg/controllers/provisioning/scheduling/preferences.go
  pkg/controllers/provisioning/scheduling/suite_test.go
  pkg/controllers/provisioning/suite_test.go
  pkg/controllers/state/cluster.go
  pkg/controllers/state/suite_test.go
  pkg/test/deployment.go
  pkg/test/expectations/expectations.go
  pkg/test/statefulsets.go
  pkg/test/storage.go
  pkg/utils/nodeclaim/nodeclaim.go
Labels: cncf-cla: yes, lgtm, approved, size/XL

#1274 BREAKING: Drop logger name injection and add consistent formatting for K8s objects
  pkg/controllers/leasegarbagecollection/controller.go
  pkg/controllers/metrics/nodepool/controller.go
  pkg/controllers/metrics/pod/controller.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/terminator/eviction.go
  pkg/controllers/nodeclaim/consistency/controller.go
  pkg/controllers/nodeclaim/disruption/controller.go
  pkg/controllers/nodeclaim/garbagecollection/controller.go
  pkg/controllers/nodeclaim/lifecycle/controller.go
  pkg/controllers/nodeclaim/lifecycle/initialization.go
  pkg/controllers/nodeclaim/lifecycle/registration.go
  pkg/controllers/nodeclaim/termination/controller.go
  pkg/controllers/nodepool/counter/controller.go
  pkg/controllers/nodepool/hash/controller.go
  pkg/controllers/provisioning/controller.go
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/preferences.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/controllers/provisioning/scheduling/volumetopology.go
  pkg/controllers/state/informer/daemonset.go
  pkg/controllers/state/informer/node.go
  pkg/controllers/state/informer/nodeclaim.go
  pkg/controllers/state/informer/nodepool.go
  pkg/controllers/state/informer/pod.go
  pkg/operator/controller/controller.go
  pkg/scheduling/volumeusage.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1277 feat: add kwoknodeclass
  Makefile
  kwok/README.md
  kwok/apis/apis.go
  kwok/apis/crds/kwok.karpenter.sh_kwoknodeclasses.yaml
  kwok/apis/v1alpha1/doc.go
  kwok/apis/v1alpha1/kwoknodeclass.go
  kwok/apis/v1alpha1/kwoknodeclass_status.go
  kwok/apis/v1alpha1/register.go
  kwok/apis/v1alpha1/zz_generated.deepcopy.go
  kwok/cloudprovider/cloudprovider.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1262 feat: create constraints on offerings
  kwok/cloudprovider/cloudprovider.go
  kwok/cloudprovider/helpers.go
  kwok/tools/gen_instance_types.go
  pkg/cloudprovider/fake/cloudprovider.go
  pkg/cloudprovider/fake/instancetype.go
  pkg/cloudprovider/types.go
  pkg/controllers/disruption/consolidation.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/expiration_test.go
  pkg/controllers/disruption/helpers.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/disruption/orchestration/suite_test.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/provisioning/scheduling/instance_selection_test.go
  pkg/controllers/provisioning/scheduling/nodeclaim.go
  pkg/controllers/provisioning/scheduling/suite_test.go
  pkg/controllers/provisioning/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, needs-ok-to-test

#1285 fix: allow empty string for condition reason
  hack/validation/status.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1286 chore(deps): revert dependabot bumps
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, approved, size/M
