Repository kubernetes-sigs/karpenter, pull requests merged in 2024-09, with the labels that each got.

#1628 fix: fix log line on consistency errors
  .golangci.yaml
  kwok/apis/crds/kwok.karpenter.sh_kwoknodeclasses.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/controllers/disruption/validation.go
  pkg/controllers/nodeclaim/consistency/controller.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#1629 fix: handle webhook inability to connect error v37
  pkg/operator/operator.go
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/S, needs-ok-to-test

#1631 fix: handle webhook inability to connect error v35
  pkg/operator/operator.go
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/S, needs-ok-to-test

#1630 fix: handle webhook inability to connect error v36
  pkg/operator/operator.go
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/S, needs-ok-to-test

#1633 fix: handle webhook inability to connect error v33
  pkg/operator/operator.go
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/S, needs-ok-to-test

#1632 fix: handle webhook inability to connect error v34
  pkg/operator/operator.go
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/S, needs-ok-to-test

#1637 fix: Fix spurious transport errors (v0.36.x)
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1640 fix: Fix spurious transport errors (v0.34.x)
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1641 fix: Fix spurious transport errors (v0.33.x)
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1642 fix: Fix spurious transport errors (v1.0.x)
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/controllers/disruption/validation.go
  pkg/controllers/nodeclaim/consistency/controller.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1616 fix: enable webhooks by default v37
  Makefile
  hack/mutation/conversion_webhook_injection.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/controllers/disruption/consolidation_test.go
  pkg/operator/options/options.go
  pkg/operator/options/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#1638 fix: Fix spurious transport errors (v0.37.x)
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1644 chore: don't emit disruption events for non-karpenter nodes
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/disruption/types.go
  pkg/controllers/state/statenode.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#1656 chore: Bump github.com/awslabs/operatorpkg to latest
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, approved, size/S

#1660 fix: Fix unintentionally importing envtest when running NewTestingQueue
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/disruption/orchestration/suite_test.go
  pkg/controllers/disruption/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1661 chore: Bump github.com/awslabs/operatorpkg to latest
  go.mod
  go.sum
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1662 fix: add default disruption stanza
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_default_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1677 fix: add default disruption stanza (#1662)
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_default_test.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#1678 fix: add default disruption stanza (#1662)
  kwok/apis/crds/kwok.karpenter.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_default_test.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#1679 fix: add default disruption stanza (#1662)
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_default_test.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#1680 fix: add default disruption stanza (#1662)
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_default_test.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#1681 fix: add default disruption stanza (#1662)
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_default_test.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#1682 fix: add default disruption stanza (#1662)
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_default_test.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#1665 chore: Fix possible Registration TTL race condition
  pkg/controllers/nodeclaim/lifecycle/liveness.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1667 fix: Add compat annotation key when using NodePool's kubelet config compat annotation
  pkg/apis/v1/nodepool_conversion.go
  pkg/controllers/provisioning/scheduling/nodeclaimtemplate.go
  pkg/controllers/provisioning/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1666 fix: Fix race condition with using newer NodePool for hash annotation
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/nodeclaimtemplate.go
  pkg/controllers/provisioning/suite_test.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#1669 fix: Panic on nodeClassRef `nil` dereference
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1704 chore: Allow setting leader election namespace when running out of cluster
  pkg/operator/operator.go
  pkg/operator/options/options.go
  pkg/operator/options/suite_test.go
  pkg/test/options.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1693 (backport v0.37.x) fix: Panic on nodeClassRef `nil` dereference
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1694 (backport v0.36.x) fix: Panic on nodeClassRef `nil` dereference
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1695 (backport v0.35.x) fix: Panic on nodeClassRef `nil` dereference
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1696 (backport v0.34.x) fix: Panic on nodeClassRef `nil` dereference
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1705 chore: Cherry pick patch with conflict fix onto `release-v1.0.x`
  pkg/controllers/disruption/controller.go
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/terminator/terminator.go
  pkg/controllers/nodeclaim/consistency/controller.go
  pkg/controllers/nodeclaim/disruption/controller.go
  pkg/controllers/nodeclaim/lifecycle/controller.go
  pkg/controllers/nodeclaim/lifecycle/initialization.go
  pkg/controllers/nodeclaim/lifecycle/registration.go
  pkg/controllers/nodeclaim/podevents/controller.go
  pkg/controllers/nodeclaim/termination/controller.go
  pkg/controllers/nodeclaim/termination/suite_test.go
  pkg/controllers/nodepool/readiness/controller.go
  pkg/controllers/nodepool/validation/controller.go
  pkg/controllers/state/statenode.go
  pkg/scheduling/taints.go
  pkg/utils/pretty/pretty.go
  pkg/utils/termination/termination.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1708 chore: Drop stored version annotation
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#1689 feat: Implement Migration Controller
  pkg/apis/v1/doc.go
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1beta1/doc.go
  pkg/controllers/controllers.go
  pkg/controllers/migration/crd/controller.go
  pkg/controllers/migration/crd/suite_test.go
  pkg/controllers/migration/resource/controller.go
  pkg/controllers/migration/resource/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#1709 chore: Drop stored version annotation 36
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#1710 chore: Drop stored version annotation 35
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#1711 chore: Drop stored version annotation 34
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#1712 chore: Drop stored version annotation 33
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#1672 chore: Additional upstream metrics
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/metrics.go
  pkg/controllers/node/termination/suite_test.go
  pkg/controllers/node/termination/terminator/eviction.go
  pkg/controllers/node/termination/terminator/metrics.go
  pkg/controllers/node/termination/terminator/suite_test.go
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/metrics.go
  pkg/controllers/provisioning/suite_test.go
  pkg/controllers/state/cluster.go
  pkg/controllers/state/metrics.go
  pkg/controllers/state/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#1701 chore: Bump operatorpkg
  go.mod
  go.sum
  pkg/controllers/nodepool/readiness/suite_test.go
  pkg/controllers/nodepool/validation/suite_test.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test

#1707 docs: add Alibaba Cloud repo link
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test

#1714 fix: migration crd no-op
  pkg/controllers/migration/crd/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test

#1715 fix: only patch CRDs when storage version is v1
  pkg/controllers/migration/crd/controller.go
  pkg/controllers/migration/crd/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1683 feat: implement graceful error handling in operator package
  pkg/operator/operator.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#1721 fix: handle NodeClaim termination in the lifecycle controller
  pkg/controllers/controllers.go
  pkg/controllers/nodeclaim/lifecycle/controller.go
  pkg/controllers/nodeclaim/lifecycle/metrics.go
  pkg/controllers/nodeclaim/lifecycle/termination_test.go
  pkg/controllers/nodeclaim/termination/controller.go
  pkg/utils/termination/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL

#1722 chore: upgrade CI to use 1.31
  .github/workflows/kind-e2e.yaml
  .github/workflows/presubmit.yaml
  hack/toolchain.sh
  pkg/test/environment.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#1723 fix: conditionally enable migration controllers based on webhook enablement
  kwok/main.go
  pkg/controllers/controllers.go
Labels: cncf-cla: yes, lgtm, approved, size/S, needs-ok-to-test
