Repository kubernetes-sigs/karpenter, pull requests merged in 2024-08, with the labels that each got.

#1497 chore: rename whenUnderutilized to WhenEmptyOrUnderutilized
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/controllers/disruption/consolidation.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/emptiness.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/nodeclaim/disruption/consolidation_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1491 chore: Add Conversion webhooks for v0.33.x
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1beta1/nodeclaim_conversion.go
  pkg/apis/v1beta1/nodepool_conversion.go
  pkg/cloudprovider/fake/cloudprovider.go
  pkg/cloudprovider/types.go
  pkg/operator/injection/injection.go
  pkg/operator/operator.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/test/v1alpha1/doc.go
  pkg/test/v1alpha1/testnodeclass.go
  pkg/test/v1alpha1/testnodeclass_status.go
  pkg/test/v1alpha1/zz_generated.deepcopy.go
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#1492 chore: Add Conversion webhooks for v0.34.x
  kwok/cloudprovider/cloudprovider.go
  kwok/main.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1beta1/nodeclaim_conversion.go
  pkg/apis/v1beta1/nodepool_conversion.go
  pkg/cloudprovider/fake/cloudprovider.go
  pkg/cloudprovider/types.go
  pkg/operator/injection/injection.go
  pkg/operator/operator.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/test/v1alpha1/doc.go
  pkg/test/v1alpha1/testnodeclass.go
  pkg/test/v1alpha1/testnodeclass_status.go
  pkg/test/v1alpha1/zz_generated.deepcopy.go
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#1493 chore: Add Conversion webhooks for v0.35.x
  kwok/cloudprovider/cloudprovider.go
  kwok/main.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1beta1/nodeclaim_conversion.go
  pkg/apis/v1beta1/nodepool_conversion.go
  pkg/cloudprovider/fake/cloudprovider.go
  pkg/cloudprovider/types.go
  pkg/operator/injection/injection.go
  pkg/operator/operator.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/test/v1alpha1/doc.go
  pkg/test/v1alpha1/testnodeclass.go
  pkg/test/v1alpha1/testnodeclass_status.go
  pkg/test/v1alpha1/zz_generated.deepcopy.go
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#1495 chore: Add Conversion webhooks for v0.37.x
  hack/validation/status.sh
  kwok/main.go
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1beta1/nodeclaim_conversion.go
  pkg/apis/v1beta1/nodepool_conversion.go
  pkg/cloudprovider/fake/cloudprovider.go
  pkg/operator/injection/injection.go
  pkg/operator/operator.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/test/v1alpha1/doc.go
  pkg/test/v1alpha1/testnodeclass.go
  pkg/test/v1alpha1/testnodeclass_status.go
  pkg/test/v1alpha1/zz_generated.deepcopy.go
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#1494 chore: Add Conversion Webhooks for v0.36.x
  kwok/main.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1beta1/nodeclaim_conversion.go
  pkg/apis/v1beta1/nodepool_conversion.go
  pkg/cloudprovider/fake/cloudprovider.go
  pkg/operator/injection/injection.go
  pkg/operator/operator.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/test/v1alpha1/doc.go
  pkg/test/v1alpha1/testnodeclass.go
  pkg/test/v1alpha1/testnodeclass_status.go
  pkg/test/v1alpha1/zz_generated.deepcopy.go
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#1483 chore: reconfigure upstream metrics
  pkg/cloudprovider/metrics/cloudprovider.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/controller.go
  pkg/controllers/disruption/drift.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/emptiness.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/helpers.go
  pkg/controllers/disruption/metrics.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/disruption/orchestration/metrics.go
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/disruption/singlenodeconsolidation.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/disruption/types.go
  pkg/controllers/leasegarbagecollection/controller.go
  pkg/controllers/leasegarbagecollection/metrics.go
  pkg/controllers/leasegarbagecollection/suite_test.go
  pkg/controllers/metrics/node/controller.go
  pkg/controllers/metrics/nodepool/controller.go
  pkg/controllers/metrics/nodepool/suite_test.go
  pkg/controllers/metrics/pod/controller.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/metrics.go
  pkg/controllers/node/termination/suite_test.go
  pkg/controllers/nodeclaim/consistency/controller.go
  pkg/controllers/nodeclaim/consistency/metrics.go
  pkg/controllers/nodeclaim/disruption/consolidation.go
  pkg/controllers/nodeclaim/disruption/consolidation_test.go
  pkg/controllers/nodeclaim/disruption/drift.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/nodeclaim/expiration/controller.go
  pkg/controllers/nodeclaim/expiration/suite_test.go
  pkg/controllers/nodeclaim/garbagecollection/controller.go
  pkg/controllers/nodeclaim/lifecycle/initialization.go
  pkg/controllers/nodeclaim/lifecycle/launch.go
  pkg/controllers/nodeclaim/lifecycle/liveness.go
  pkg/controllers/nodeclaim/lifecycle/registration.go
  pkg/controllers/nodeclaim/termination/controller.go
  pkg/controllers/nodeclaim/termination/metrics.go
  pkg/controllers/nodeclaim/termination/suite_test.go
  pkg/controllers/provisioning/metrics.go
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/metrics.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/controllers/provisioning/scheduling/suite_test.go
  pkg/metrics/constants.go
  pkg/metrics/metrics.go
  pkg/test/expectations/expectations.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, needs-ok-to-test

#1499 chore: Ensure that NodeClaims are held in Unknown until they reach a terminal state
  go.mod
  go.sum
  pkg/controllers/nodeclaim/lifecycle/initialization.go
  pkg/controllers/nodeclaim/lifecycle/initialization_test.go
  pkg/controllers/nodeclaim/lifecycle/launch.go
  pkg/controllers/nodeclaim/lifecycle/launch_test.go
  pkg/controllers/nodeclaim/lifecycle/registration.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1502 ci: let matrix do not fail fast.
  .github/workflows/kind-e2e.yaml
  .github/workflows/presubmit.yaml
Labels: kind/cleanup, cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test

#1501 chore: fix warning logs
  Makefile
  hack/mutation/nodepool.sh
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodeclaim_validation.go
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/apis/v1/zz_generated.deepcopy.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/metrics/nodepool/suite_test.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/nodepool/hash/suite_test.go
  pkg/controllers/provisioning/scheduling/instance_selection_test.go
  pkg/controllers/provisioning/scheduling/nodeclaimtemplate.go
  pkg/controllers/provisioning/scheduling/scheduling_benchmark_test.go
  pkg/controllers/provisioning/scheduling/suite_test.go
  pkg/controllers/provisioning/scheduling/topology_test.go
  pkg/controllers/provisioning/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1294 fix: Ensure persistent volumes are detached before deleting node
  kwok/charts/templates/clusterrole.yaml
  pkg/controllers/controllers.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/suite_test.go
  pkg/operator/operator.go
  pkg/test/environment.go
  pkg/test/storage.go
  pkg/utils/node/node.go
  pkg/utils/pod/scheduling.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1508 chore: Remove disruption reason from v1beta1
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1beta1/nodepool.go
  pkg/apis/v1beta1/nodepool_budgets_test.go
  pkg/apis/v1beta1/nodepool_validation_cel_test.go
  pkg/apis/v1beta1/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1511 fix: fix log line on consistency errors
  pkg/controllers/nodeclaim/consistency/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1513 chore: Bump `github.com/awslabs/operatorpkg` to latest
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, approved, size/M

#1514 chore: update node pod requests and limits to include daemon set
  pkg/controllers/metrics/node/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test

#1503 chore: Include Updates to the v1 API for v0.33.x
  Makefile
  hack/mutation/nodepool.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodeclaim_validation.go
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/apis/v1/suite_test.go
  pkg/apis/v1/zz_generated.deepcopy.go
  pkg/apis/v1beta1/nodeclaim.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1504 chore: Include Updates to the v1 API for v0.34.x
  Makefile
  hack/mutation/nodepool.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodeclaim_validation.go
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/apis/v1/suite_test.go
  pkg/apis/v1/zz_generated.deepcopy.go
  pkg/apis/v1beta1/nodeclaim.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1505 chore: Include Updates to the v1 API for v0.35.x
  Makefile
  hack/mutation/nodepool.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodeclaim_validation.go
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/apis/v1/suite_test.go
  pkg/apis/v1/zz_generated.deepcopy.go
  pkg/apis/v1beta1/nodeclaim.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1506 chore: Include Updates to the v1 API for v0.36.x
  Makefile
  hack/mutation/nodepool.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodeclaim_validation.go
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/apis/v1/suite_test.go
  pkg/apis/v1/zz_generated.deepcopy.go
  pkg/apis/v1beta1/nodeclaim.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1507 chore: Include Updates to the v1 API for v0.37.x
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodeclaim_validation.go
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/apis/v1/suite_test.go
  pkg/apis/v1/zz_generated.deepcopy.go
  pkg/apis/v1beta1/nodeclaim.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1515 chore:Update metrics description
  pkg/controllers/metrics/node/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test

#1516 chore: Add pattern check for group in nodeClassRef
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodeclaim.go
  pkg/apis/v1/nodeclaim_validation_cel_test.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/provisioning/suite_test.go
  pkg/utils/node/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#1517 chore: Mark the status condition as false when unregistered taint isn't present and block initialized
  pkg/controllers/nodeclaim/lifecycle/registration.go
  pkg/controllers/nodeclaim/lifecycle/registration_test.go
  pkg/scheduling/taints.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#1522 chore: Include status validation for v1 NodeClaim in v0.33.x
  Makefile
  hack/validation/status.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1523 chore: Include status validation for v1 NodeClaim in v0.34.x
  Makefile
  hack/validation/status.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1525 chore: Include status validation for v1 NodeClaim in v0.35.x
  Makefile
  hack/validation/status.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1526 chore: Include status validation for v1 NodeClaim in v0.36.x
  Makefile
  hack/validation/status.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1528 chore: update nodeclaim status condition from terminating to instance…
  pkg/apis/v1/nodeclaim_status.go
  pkg/controllers/node/termination/suite_test.go
  pkg/controllers/nodeclaim/termination/controller.go
  pkg/controllers/nodeclaim/termination/suite_test.go
  pkg/utils/termination/suite_test.go
  pkg/utils/termination/termination.go
Labels: cncf-cla: yes, lgtm, approved, size/S, needs-ok-to-test

#1530 chore: fix capitalization in disruption log
  pkg/controllers/disruption/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1531 chore: Remove min-Value from being set on conversion v1 -> v1beta1
  pkg/apis/v1/nodeclaim_conversion.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1533 chore: Change reason to `NodeClassNotFound` to match `NodeNotFound`
  pkg/controllers/nodepool/readiness/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1532 chore: Minor fixes to disruption logging
  pkg/controllers/disruption/controller.go
  pkg/controllers/disruption/orchestration/queue.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1534 chore: fix nodeClassRef conversion
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodepool_conversion.go
Labels: cncf-cla: yes, lgtm, approved, size/S, needs-ok-to-test

#1535 chore: Fix disruption reason casing
  pkg/apis/v1/nodepool.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/controller.go
  pkg/controllers/disruption/drift.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/emptiness.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/disruption/singlenodeconsolidation.go
  pkg/controllers/disruption/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1538 fix: Backport nodeClassRef conversion fix for v0.34.x
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodepool_conversion.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#1537 fix: Backport nodeClassRef conversion fix for v0.33.x
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodepool_conversion.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#1539 fix: Backport nodeClassRef conversion fix for v0.35.x
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodepool_conversion.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#1540 fix: Backport nodeClassRef conversion fix for v0.36.x
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodepool_conversion.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#1541 fix: Backport nodeClassRef conversion fix for v0.37.x
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodepool_conversion.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#1544 chore: Retain EC2NodeClass reference information during the conversion
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1545 fix: ensure NillableDuration is round-trippable
  pkg/apis/v1/duration.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/apis/v1/zz_generated.deepcopy.go
  pkg/apis/v1beta1/duration.go
  pkg/apis/v1beta1/zz_generated.deepcopy.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/nodeclaim/disruption/consolidation_test.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/nodeclaim/disruption/suite_test.go
  pkg/controllers/nodeclaim/expiration/suite_test.go
  pkg/controllers/nodepool/hash/suite_test.go
  test/pkg/environment/common/environment.go
  test/suites/perf/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1549 chore: Backport conversion webhooks changes for v0.33.x
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1551 chore: Backport conversion webhooks changes for v0.35.x
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1552 chore: Backport conversion webhooks changes for v0.36.x
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1553 chore: Backport conversion webhooks changes for v0.37.x
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1550 chore: Backport conversion webhooks changes for v0.34.x
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1555 chore: Backport NillableDuration updates for v0.37.x
  pkg/apis/v1/duration.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/apis/v1/zz_generated.deepcopy.go
  pkg/apis/v1beta1/duration.go
  pkg/apis/v1beta1/nodepool_validation_cel_test.go
  pkg/apis/v1beta1/nodepool_validation_webhook_test.go
  pkg/apis/v1beta1/zz_generated.deepcopy.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/expiration_test.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/nodeclaim/disruption/emptiness_test.go
  pkg/controllers/nodeclaim/disruption/expiration_test.go
  pkg/controllers/nodeclaim/disruption/suite_test.go
  pkg/controllers/nodepool/hash/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#1554 chore: Backport NillableDuration updates for v0.35.x
  pkg/apis/v1/duration.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/apis/v1/zz_generated.deepcopy.go
  pkg/apis/v1beta1/duration.go
  pkg/apis/v1beta1/nodepool_validation_cel_test.go
  pkg/apis/v1beta1/nodepool_validation_webhook_test.go
  pkg/apis/v1beta1/zz_generated.deepcopy.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/expiration_test.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/nodeclaim/disruption/emptiness_test.go
  pkg/controllers/nodeclaim/disruption/expiration_test.go
  pkg/controllers/nodeclaim/disruption/suite_test.go
  pkg/controllers/nodepool/hash/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1556 chore: Backport NillableDuration updates for v0.36.x
  pkg/apis/v1/duration.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/apis/v1/zz_generated.deepcopy.go
  pkg/apis/v1beta1/duration.go
  pkg/apis/v1beta1/nodepool_validation_cel_test.go
  pkg/apis/v1beta1/nodepool_validation_webhook_test.go
  pkg/apis/v1beta1/zz_generated.deepcopy.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/expiration_test.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/nodeclaim/disruption/emptiness_test.go
  pkg/controllers/nodeclaim/disruption/expiration_test.go
  pkg/controllers/nodeclaim/disruption/suite_test.go
  pkg/controllers/nodepool/hash/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1558 chore: Backport NillableDuration updates for v0.34.x
  pkg/apis/v1/duration.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/apis/v1/zz_generated.deepcopy.go
  pkg/apis/v1beta1/duration.go
  pkg/apis/v1beta1/nodepool_validation_cel_test.go
  pkg/apis/v1beta1/nodepool_validation_webhook_test.go
  pkg/apis/v1beta1/zz_generated.deepcopy.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/expiration_test.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/nodeclaim/disruption/emptiness_test.go
  pkg/controllers/nodeclaim/disruption/expiration_test.go
  pkg/controllers/nodeclaim/disruption/suite_test.go
  pkg/controllers/nodepool/hash/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#1559 chore: do not set version to NodeClassRef on test environment.
  kwok/README.md
  test/pkg/environment/common/environment.go
Labels: kind/cleanup, cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test, kind/failing-test

#1561 chore: update max delay for NodeClaim lifecycle controller
  pkg/controllers/nodeclaim/lifecycle/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test

#1562 chore: Backport (#1561) v37.x
  pkg/controllers/nodeclaim/lifecycle/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test

#1563 chore: Backport (#1561) v36.x
  pkg/controllers/nodeclaim/lifecycle/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#1564 chore: Backport (#1561) v35.x
  pkg/controllers/nodeclaim/lifecycle/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test

#1566 chore: Backport (#1561) v33.x
  pkg/controllers/nodeclaim/lifecycle/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test

#834 docs: RFC for disruption.terminationGracePeriod feature
  designs/nodeclaim-termination-grace-period.md
Labels: lifecycle/stale, cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#1574 feat: add cloud provider disruption reasons
  kwok/cloudprovider/cloudprovider.go
  pkg/cloudprovider/fake/cloudprovider.go
  pkg/cloudprovider/types.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#1579 chore: non-constant format string in call to fmt.Errorf
  pkg/controllers/disruption/validation.go
  pkg/controllers/nodeclaim/consistency/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1584 chore: Bump go to use 1.23
  go.mod
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L

#1586 chore: Drop node lease garbage collection controller
  pkg/controllers/controllers.go
  pkg/controllers/leasegarbagecollection/controller.go
  pkg/controllers/leasegarbagecollection/metrics.go
  pkg/controllers/leasegarbagecollection/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#1589 ci: Enable `copyloopvar` in linter
  .golangci.yaml
  test/pkg/environment/common/monitor.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1598 chore: Drop conversion webhooks
  Makefile
  go.mod
  go.sum
  hack/kwok/conversion.sh
  kwok/charts/README.md
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  kwok/charts/templates/deployment.yaml
  kwok/charts/templates/role.yaml
  kwok/charts/templates/secret-webhook-cert.yaml
  kwok/charts/templates/service.yaml
  kwok/charts/values.yaml
  kwok/main.go
  pkg/apis/v1/nodeclaim_conversion.go
  pkg/apis/v1/nodeclaim_conversion_test.go
  pkg/apis/v1/nodepool_conversion.go
  pkg/apis/v1/nodepool_conversion_test.go
  pkg/apis/v1/suite_test.go
  pkg/apis/v1beta1/nodeclaim_conversion.go
  pkg/apis/v1beta1/nodepool_conversion.go
  pkg/operator/injection/injection.go
  pkg/operator/operator.go
  pkg/operator/options/options.go
  pkg/operator/options/suite_test.go
  pkg/test/options.go
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/XXL

#1593 chore: Add readiness check on cache sync
  pkg/operator/operator.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test

#1588 feat: add cloudprovider specific Eventual disruption methods
  hack/kwok/requirements.sh
  kwok/apis/v1alpha1/kwoknodeclass.go
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  kwok/cloudprovider/cloudprovider.go
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_budgets_test.go
  pkg/cloudprovider/fake/cloudprovider.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/controller.go
  pkg/controllers/disruption/emptiness.go
  pkg/controllers/disruption/eventual.go
  pkg/controllers/disruption/eventual_test.go
  pkg/controllers/disruption/helpers.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/disruption/singlenodeconsolidation.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/disruption/types.go
  pkg/controllers/disruption/validation.go
  test/suites/perf/disruption_test.go
  test/suites/perf/scheduling_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL

#1478 fix: Wait for pods to be fully terminated in groups
  pkg/controllers/node/termination/suite_test.go
  pkg/controllers/node/termination/terminator/terminator.go
  pkg/test/daemonsets.go
  pkg/test/expectations/expectations.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#1602 chore: Remove v1beta1 references
  Makefile
  hack/kwok/requirements.sh
  hack/validation/kubelet.sh
  hack/validation/labels.sh
  hack/validation/requirements.sh
  hack/validation/resources.sh
  hack/validation/status.sh
  hack/validation/taint.sh
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/labels.go
  pkg/apis/v1/taints.go
  pkg/apis/v1beta1/doc.go
  pkg/apis/v1beta1/duration.go
  pkg/apis/v1beta1/labels.go
  pkg/apis/v1beta1/nodeclaim.go
  pkg/apis/v1beta1/nodeclaim_defaults.go
  pkg/apis/v1beta1/nodeclaim_status.go
  pkg/apis/v1beta1/nodeclaim_validation.go
  pkg/apis/v1beta1/nodeclaim_validation_cel_test.go
  pkg/apis/v1beta1/nodepool.go
  pkg/apis/v1beta1/nodepool_budgets_test.go
  pkg/apis/v1beta1/nodepool_defaults.go
  pkg/apis/v1beta1/nodepool_status.go
  pkg/apis/v1beta1/nodepool_validation.go
  pkg/apis/v1beta1/nodepool_validation_cel_test.go
  pkg/apis/v1beta1/nodepool_validation_webhook_test.go
  pkg/apis/v1beta1/suite_test.go
  pkg/apis/v1beta1/taints.go
  pkg/apis/v1beta1/zz_generated.deepcopy.go
  pkg/controllers/provisioning/controller.go
  pkg/controllers/state/statenode.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/XXL

#1606 chore: Drop knative imports
  go.mod
  go.sum
  pkg/apis/v1/nodeclaim_validation.go
  pkg/apis/v1/nodepool_validation.go
  pkg/operator/logging/logging.go
  pkg/operator/operator.go
  pkg/test/environment.go
  pkg/utils/env/env.go
  test/pkg/environment/common/environment.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, needs-ok-to-test

#1607 chore: Drop custom workqueue metrics provider
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/node/termination/suite_test.go
  pkg/controllers/node/termination/terminator/eviction.go
  pkg/metrics/metrics.go
  pkg/metrics/workqueue_provider.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#1603 chore: added cluster utilization metric and a couple of node lifetime metrics
  pkg/controllers/metrics/node/controller.go
  pkg/controllers/metrics/node/suite_test.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/metrics.go
  pkg/controllers/node/termination/suite_test.go
  pkg/utils/resources/resources.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#1619 fix: enable webhooks by default v34
  Makefile
  hack/mutation/conversion_webhook_injection.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/operator/options/options.go
  pkg/operator/options/suite_test.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#1617 fix: enable webhooks by default v36
  Makefile
  hack/mutation/conversion_webhook_injection.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/operator/options/options.go
  pkg/operator/options/suite_test.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#1618 fix: enable webhooks by default v35
  Makefile
  hack/mutation/conversion_webhook_injection.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/operator/options/options.go
  pkg/operator/options/suite_test.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#1620 fix: enable webhooks by default v33
  Makefile
  hack/mutation/conversion_webhook_injection.sh
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/operator/options/options.go
  pkg/operator/options/suite_test.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M
