Repository kubernetes-sigs/karpenter, pull requests merged in 2025-10, with the labels that each got.

#2555 chore: backport jmdeal approver status to v1.1.x
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS

#2556 chore: backport jmdeal approver status to v1.0.x
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS

#2557 chore: backport jmdeal approver status to v1.2.x
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS

#2558 chore: backport jmdeal approver status to v1.3.x
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS

#2539 fix: allow non-churn empty nodes to be disrupted (#2206)
  .golangci.yaml
  go.mod
  hack/toolchain.sh
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  kwok/cloudprovider/cloudprovider.go
  kwok/cloudprovider/helpers.go
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/duration.go
  pkg/apis/v1/nodepool.go
  pkg/controllers/disruption/consolidation.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/emptiness.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/disruption/singlenodeconsolidation.go
  pkg/controllers/disruption/types.go
  pkg/controllers/disruption/validation.go
  pkg/controllers/metrics/nodepool/controller.go
  pkg/controllers/metrics/pod/controller.go
  pkg/controllers/node/health/controller.go
  pkg/controllers/node/health/suite_test.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/terminator/eviction.go
  pkg/controllers/nodeclaim/disruption/drift.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/nodeclaim/expiration/suite_test.go
  pkg/controllers/nodeclaim/lifecycle/controller.go
  pkg/controllers/nodeclaim/lifecycle/termination_test.go
  pkg/controllers/provisioning/scheduling/nodeclaim.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/test/cachesyncingclient.go
  pkg/test/environment.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/utils/disruption/disruption.go
  pkg/utils/pdb/pdb.go
  pkg/utils/pod/scheduling.go
  test/pkg/debug/node.go
  test/pkg/debug/nodeclaim.go
  test/pkg/debug/pod.go
  test/pkg/environment/common/environment.go
  test/suites/perf/scheduling_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, needs-ok-to-test

#2540 fix: allow non-churn empty nodes to be disrupted (#2206)
  .golangci.yaml
  go.mod
  hack/toolchain.sh
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  kwok/cloudprovider/cloudprovider.go
  kwok/cloudprovider/helpers.go
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/duration.go
  pkg/apis/v1/nodepool.go
  pkg/controllers/disruption/consolidation.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/emptiness.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/disruption/singlenodeconsolidation.go
  pkg/controllers/disruption/types.go
  pkg/controllers/disruption/validation.go
  pkg/controllers/metrics/nodepool/controller.go
  pkg/controllers/metrics/pod/controller.go
  pkg/controllers/node/health/controller.go
  pkg/controllers/node/health/suite_test.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/terminator/eviction.go
  pkg/controllers/nodeclaim/disruption/drift.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/nodeclaim/expiration/suite_test.go
  pkg/controllers/nodeclaim/lifecycle/controller.go
  pkg/controllers/nodeclaim/lifecycle/termination_test.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/test/cachesyncingclient.go
  pkg/test/environment.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/utils/disruption/disruption.go
  pkg/utils/pdb/pdb.go
  pkg/utils/pod/scheduling.go
  test/pkg/debug/node.go
  test/pkg/debug/nodeclaim.go
  test/pkg/debug/pod.go
  test/pkg/environment/common/environment.go
  test/suites/perf/scheduling_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, needs-ok-to-test

#2541 fix: allow non-churn empty nodes to be disrupted (#2206)
  .golangci.yaml
  go.mod
  hack/toolchain.sh
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  kwok/cloudprovider/cloudprovider.go
  kwok/cloudprovider/helpers.go
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/duration.go
  pkg/apis/v1/nodepool.go
  pkg/controllers/disruption/consolidation.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/emptiness.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/disruption/singlenodeconsolidation.go
  pkg/controllers/disruption/types.go
  pkg/controllers/disruption/validation.go
  pkg/controllers/metrics/nodepool/controller.go
  pkg/controllers/metrics/pod/controller.go
  pkg/controllers/node/health/controller.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/terminator/eviction.go
  pkg/controllers/nodeclaim/disruption/drift.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/nodeclaim/expiration/suite_test.go
  pkg/controllers/nodeclaim/lifecycle/controller.go
  pkg/controllers/nodeclaim/lifecycle/termination_test.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/test/cachesyncingclient.go
  pkg/test/environment.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/utils/disruption/disruption.go
  pkg/utils/pdb/pdb.go
  pkg/utils/pod/scheduling.go
  test/pkg/debug/node.go
  test/pkg/debug/nodeclaim.go
  test/pkg/debug/pod.go
  test/pkg/environment/common/environment.go
  test/suites/perf/scheduling_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, needs-ok-to-test

#2544 fix: allow non-churn empty nodes to be disrupted (#2206)
  .golangci.yaml
  go.mod
  hack/toolchain.sh
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  kwok/cloudprovider/cloudprovider.go
  kwok/cloudprovider/helpers.go
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/duration.go
  pkg/apis/v1/nodepool.go
  pkg/apis/v1beta1/duration.go
  pkg/controllers/disruption/consolidation.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/emptiness.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/disruption/singlenodeconsolidation.go
  pkg/controllers/disruption/types.go
  pkg/controllers/disruption/validation.go
  pkg/controllers/metrics/nodepool/controller.go
  pkg/controllers/metrics/pod/controller.go
  pkg/controllers/migration/crd/controller.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/terminator/eviction.go
  pkg/controllers/nodeclaim/disruption/drift.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/nodeclaim/expiration/suite_test.go
  pkg/controllers/nodeclaim/termination/controller.go
  pkg/controllers/nodeclaim/termination/suite_test.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/operator/operator.go
  pkg/test/cachesyncingclient.go
  pkg/test/environment.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/utils/disruption/disruption.go
  pkg/utils/pdb/pdb.go
  pkg/utils/pod/scheduling.go
  test/pkg/debug/node.go
  test/pkg/debug/nodeclaim.go
  test/pkg/debug/pod.go
  test/pkg/environment/common/environment.go
  test/suites/perf/scheduling_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, needs-ok-to-test

#2520 chore: Update NodeRegistrationHealthy SC to use a buffer mechanism
  pkg/controllers/controllers.go
  pkg/controllers/nodeclaim/garbagecollection/suite_test.go
  pkg/controllers/nodeclaim/lifecycle/controller.go
  pkg/controllers/nodeclaim/lifecycle/liveness.go
  pkg/controllers/nodeclaim/lifecycle/liveness_test.go
  pkg/controllers/nodeclaim/lifecycle/registration.go
  pkg/controllers/nodeclaim/lifecycle/registration_test.go
  pkg/controllers/nodeclaim/lifecycle/suite_test.go
  pkg/controllers/nodepool/registrationhealth/controller.go
  pkg/controllers/nodepool/registrationhealth/suite_test.go
  pkg/state/nodepoolhealth/suite_test.go
  pkg/state/nodepoolhealth/tracker.go
  pkg/test/nodepool.go
  pkg/utils/ringbuffer/buffer.go
  pkg/utils/ringbuffer/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL
