Repository kubernetes-sigs/karpenter, pull requests merged in 2025-04, with the labels that each got.

#2048 ci: Automating scheduling benchmarking testing for PRs
  .github/dependabot.yaml
  .github/workflows/run-bench-test.yaml
  .github/workflows/scheduling-benchmarking.yaml
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#2110 perf: Actively store NodePool resources in cluster state
  pkg/controllers/nodepool/counter/controller.go
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/suite_test.go
  pkg/controllers/state/cluster.go
  pkg/controllers/state/statenode.go
  pkg/controllers/state/suite_test.go
  pkg/controllers/state/zz_generated.deepcopy.go
  pkg/utils/resources/resources.go
Labels: cncf-cla: yes, lgtm, approved, size/XL

#2118 ci: Removing github comment to unblock CI
  .github/workflows/run-bench-test.yaml
  .github/workflows/scheduling-benchmarking.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, needs-ok-to-test

#2119 perf: Relax preferences all the way per-pod
  pkg/controllers/provisioning/scheduling/queue.go
  pkg/controllers/provisioning/scheduling/scheduler.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#2121 perf: Timeout scheduling simulation after 1m to schedule pods/nodes
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/scheduler.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#2130 chore: Bump Go mod version
  go.mod
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#2127 chore: Update well Known labels to be as part of cloud providers
  pkg/controllers/metrics/node/controller.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#2033 fix: don't provision unnecessary capacity for pods which can't move to a new node
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/helpers.go
  pkg/controllers/disruption/singlenodeconsolidation_test.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/suite_test.go
  pkg/controllers/state/statenode.go
  pkg/test/pods.go
  pkg/utils/node/node.go
  pkg/utils/pdb/pdb.go
  pkg/utils/pdb/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, ok-to-test, size/XL

#2122 feat: Add `PreferencePolicy` as an environment variable option
  Makefile
  kwok/charts/README.md
  kwok/charts/templates/deployment.yaml
  kwok/charts/values.yaml
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/helpers.go
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/controllers/provisioning/scheduling/scheduling_benchmark_test.go
  pkg/controllers/provisioning/scheduling/topology.go
  pkg/controllers/provisioning/suite_test.go
  pkg/operator/options/options.go
  pkg/test/options.go
Labels: cncf-cla: yes, lgtm, approved, size/XL

#2133 fix: consider candidate NodePool seen when blocked by budgets or empty
  pkg/controllers/disruption/singlenodeconsolidation.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#2145 test: Add more resource tracking cluster state testing
  pkg/controllers/state/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#2147 fix: Fix pod scheduling undecided time metric
  pkg/controllers/metrics/pod/controller.go
  pkg/controllers/metrics/pod/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#2136 chore: Use structured errors in logger
  go.mod
  go.sum
  kwok/cloudprovider/cloudprovider.go
  pkg/apis/v1/labels.go
  pkg/apis/v1/nodepool.go
  pkg/cloudprovider/fake/cloudprovider.go
  pkg/cloudprovider/types.go
  pkg/controllers/disruption/consolidation.go
  pkg/controllers/disruption/controller.go
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/disruption/types.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/terminator/eviction.go
  pkg/controllers/nodeclaim/lifecycle/registration.go
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/instance_selection_test.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/controllers/provisioning/scheduling/topology.go
  pkg/controllers/provisioning/scheduling/volumetopology.go
  pkg/controllers/state/cluster.go
  pkg/controllers/state/statenode.go
  pkg/operator/logging/logging.go
  pkg/operator/operator.go
  pkg/scheduling/hostportusage.go
  pkg/scheduling/taints.go
  pkg/scheduling/volumeusage.go
  pkg/utils/volume/volume.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#2146 chore: Delete podSchedulableTime and associated metric if pod can't be scheduled
  pkg/controllers/metrics/pod/controller.go
  pkg/controllers/metrics/pod/suite_test.go
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/controllers/state/cluster.go
  pkg/controllers/state/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#2126 perf: Parallelize node filtering
  kwok/charts/templates/deployment.yaml
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/existingnode.go
  pkg/controllers/provisioning/scheduling/nodeclaim.go
  pkg/controllers/provisioning/scheduling/reservationmanager.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/controllers/provisioning/scheduling/scheduling_benchmark_test.go
  pkg/controllers/provisioning/scheduling/topologygroup.go
  pkg/controllers/state/suite_test.go
  pkg/operator/options/options.go
  pkg/test/options.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#2154 chore: Update pod schedulable time
  pkg/controllers/metrics/pod/suite_test.go
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/controllers/provisioning/suite_test.go
  pkg/controllers/state/cluster.go
  pkg/controllers/state/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#2168 test: Migrate the start monitoring controller start-up to the BeforeEach and AfterEach stage
  Makefile
  test/pkg/debug/node.go
  test/pkg/debug/nodeclaim.go
  test/pkg/debug/pod.go
  test/pkg/debug/setup.go
  test/suites/perf/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#2177 chore: Bump `github.com/awslabs/operatorpkg` to latest
  go.mod
  go.sum
Labels: cncf-cla: yes, size/XS, lgtm, approved

#2044 feat: add karpenter_pods_drained_total metric to track pod draining by reason
  pkg/controllers/node/termination/terminator/eviction.go
  pkg/controllers/node/termination/terminator/metrics.go
  pkg/controllers/node/termination/terminator/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#2144 test: Karpenter Integration Test Migration RFC
  designs/karpenter-integration-testing.md
Labels: cncf-cla: yes, lgtm, approved, size/L
