Repository kubernetes-sigs/karpenter, pull requests merged in 2025-01, with the labels that each got.

#1370 feat: expose nodeclaim disruption through new disruption condition, improves pod eviction event message
  pkg/apis/v1/nodeclaim_status.go
  pkg/controllers/disruption/controller.go
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/node/termination/suite_test.go
  pkg/controllers/node/termination/terminator/events/events.go
  pkg/controllers/node/termination/terminator/eviction.go
  pkg/controllers/node/termination/terminator/suite_test.go
  pkg/controllers/node/termination/terminator/terminator.go
  pkg/controllers/state/statenode.go
  pkg/events/suite_test.go
Labels: lifecycle/stale, cncf-cla: yes, lgtm, approved, size/L

#1906 chore: Remove usage of 'state node' in eventing, logging, and errors
  pkg/controllers/disruption/consolidation.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/drift.go
  pkg/controllers/disruption/events/events.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/disruption/types.go
  pkg/controllers/state/statenode.go
  pkg/utils/pretty/pretty.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1909 chore: Expose cluster state to allow provider to view the state of the cluster
  kwok/main.go
  pkg/controllers/controllers.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1898 Use Expectations from awslabs/operatorpkg and remove duplicate expect…
  pkg/apis/v1/suite_test.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#1914 fix: Modify conversion webhook check to check for v1 version existence
  kwok/apis/crds/kwok.karpenter.sh_kwoknodeclasses.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/operator/operator.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1917 fix: Modify conversion webhook check to check for v1 version existence (cherry-pick v0.35.x)
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/operator/operator.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1918 fix: Modify conversion webhook check to check for v1 version existence (cherry-pick v0.36.x)
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/operator/operator.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1919 fix: Modify conversion webhook check to check for v1 version existence (cherry-pick v0.34.x)
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/operator/operator.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1920 fix: Modify conversion webhook check to check for v1 version existence (cherry-pick v0.33.x)
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/operator/operator.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/webhooks/webhooks.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1922 chore: Ignore duplicate nodeclaim error in the repair controller
  pkg/controllers/node/health/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1878 fix: Start E2E montitioning controllers at the start of the test suite
  test/pkg/debug/setup.go
  test/suites/perf/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#1924 ci: Drop stalebot from kubernetes-sigs/karpenter repo
  .github/workflows/stale.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#1925 BREAKING: Allow custom condition reasons to be returned from Create
  pkg/cloudprovider/types.go
  pkg/controllers/nodeclaim/lifecycle/launch.go
  pkg/controllers/nodeclaim/lifecycle/launch_test.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#1927 Chore: Version bump to 1.32
  .github/workflows/kind-e2e.yaml
  .github/workflows/presubmit.yaml
  hack/toolchain.sh
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/test/environment.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, needs-ok-to-test

#1931 chore: replace golang.org/x/exp with stdlib
  go.mod
  go.sum
  pkg/utils/nodepool/suite_test.go
  pkg/utils/pretty/pretty.go
Labels: cncf-cla: yes, lgtm, approved, size/S, needs-ok-to-test

#1915 chore: move event reasons to the package and as constants
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/events/events.go
  pkg/controllers/node/health/events.go
  pkg/controllers/node/termination/terminator/events/events.go
  pkg/controllers/node/termination/terminator/suite_test.go
  pkg/controllers/nodeclaim/consistency/events.go
  pkg/controllers/nodeclaim/lifecycle/events.go
  pkg/controllers/provisioning/scheduling/events.go
  pkg/events/reason.go
Labels: cncf-cla: yes, lgtm, approved, ok-to-test, size/L

#1933 chore: Use non-deprecated TypedRateLimitingQueue
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/disruption/orchestration/suite_test.go
  pkg/controllers/disruption/suite_test.go
  pkg/test/ratelimitinginterface.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1930 fix: Fix scheduling benchmarking to not bail due to limits or same UUID
  pkg/controllers/provisioning/scheduling/scheduling_benchmark_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1938 chore: Use self-affinity to ensure all pods schedule
  pkg/controllers/provisioning/scheduling/scheduling_benchmark_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#1946 fix: Fix heap profile benchmarking
  pkg/controllers/provisioning/scheduling/scheduling_benchmark_test.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#1947 perf: Remove `Available()` call inside of filterInstanceTypesByRequirements
  pkg/controllers/provisioning/scheduling/nodeclaim.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#1945 perf: Remove deep-copying the allocatable resource list
  pkg/cloudprovider/types.go
Labels: cncf-cla: yes, size/XS, lgtm, approved
