Repository kubernetes-sigs/karpenter, pull requests merged in 2025-08, with the labels that each got.

#2405 feat: Add StaticCapacity feature flag
  pkg/operator/options/options.go
  pkg/operator/options/suite_test.go
  pkg/test/options.go
Labels: cncf-cla: yes, lgtm, approved, size/S, needs-ok-to-test

#2417 fix: pod metrics when pod is terminal
  pkg/controllers/metrics/pod/controller.go
  pkg/controllers/metrics/pod/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#2309 docs: static capacity RFC
  designs/static-capacity.md
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#2432 chore: bump go version to 1.24.6
  go.mod
Labels: cncf-cla: yes, size/XS, lgtm, approved

#2448 chore: Pin GH action SHAs for run-bench-test
  .github/workflows/run-bench-test.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved

#2465 ci: Include K8s version 1.33 and 1.34 in testing
  .github/workflows/kind-e2e.yaml
  .github/workflows/presubmit.yaml
  hack/toolchain.sh
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodeoverlays.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodeoverlays.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/test/environment.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#2430 chore: increase MaxInstanceTypes to give cloud-providers more control over instance type truncation
  pkg/controllers/provisioning/scheduling/instance_selection_test.go
  pkg/controllers/provisioning/scheduling/nodeclaimtemplate.go
Labels: cncf-cla: yes, size/XS, lgtm, approved
