Repository kubernetes-sigs/karpenter, pull requests merged in 2025-09, with the labels that each got.

#2475 ci: revert k8s 1.34 addition
  .github/workflows/kind-e2e.yaml
  .github/workflows/presubmit.yaml
  hack/toolchain.sh
  pkg/test/environment.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#2384 fix: Don't schedule a pod with DRA requirements
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/controllers/provisioning/scheduling/suite_test.go
  pkg/operator/options/options.go
  pkg/operator/options/suite_test.go
  pkg/test/options.go
  pkg/test/pods.go
  pkg/utils/pod/scheduling.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#2477 fix: support arbitrary reserved capacity labels for drift
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/cloudprovider/fake/cloudprovider.go
  pkg/cloudprovider/types.go
  pkg/controllers/nodeclaim/disruption/drift.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#2479 fix: avoid hash collisions with duplicate match expressions
  pkg/controllers/provisioning/scheduling/topologygroup.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#2480 fix: Validate unsupported provisioners on bound PVs
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/suite_test.go
  pkg/controllers/provisioning/scheduling/volumetopology.go
  pkg/scheduling/volumeusage.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#2485 fix: make toolchain failing due to deletion of asciicheck
  .golangci.yaml
  hack/toolchain.sh
  kwok/cloudprovider/cloudprovider.go
  kwok/cloudprovider/helpers.go
  pkg/apis/v1/duration.go
  pkg/apis/v1/nodepool.go
  pkg/controllers/disruption/consolidation.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/metrics/nodepool/controller.go
  pkg/controllers/metrics/pod/controller.go
  pkg/controllers/node/health/controller.go
  pkg/controllers/node/health/suite_test.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/nodeclaim/expiration/suite_test.go
  pkg/controllers/nodeclaim/lifecycle/controller.go
  pkg/controllers/nodeclaim/lifecycle/termination_test.go
  pkg/controllers/provisioning/scheduling/nodeclaim.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/test/cachesyncingclient.go
  pkg/test/environment.go
  pkg/test/pods.go
  pkg/utils/disruption/disruption.go
  pkg/utils/pdb/pdb.go
  pkg/utils/pod/scheduling.go
  test/pkg/debug/node.go
  test/pkg/debug/nodeclaim.go
  test/pkg/debug/pod.go
  test/pkg/environment/common/environment.go
  test/suites/regression/drift_test.go
  test/suites/regression/perf_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#2514 fix: merge limits into requests when constructing ds pods
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/suite_test.go
  pkg/utils/daemonset/daemonset.go
  pkg/utils/daemonset/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#2515 fix: handle nil selector when hashing in topology
  pkg/controllers/provisioning/scheduling/topology_test.go
  pkg/controllers/provisioning/scheduling/topologygroup.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#2516 fix: default CPU_REQUESTS when non-positive value is provided
  pkg/operator/options/options.go
  pkg/operator/options/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#2518 chore: merge main to feat/static-capacity
  go.mod
  go.sum
  kwok/charts/templates/clusterrole.yaml
  kwok/cloudprovider/cloudprovider.go
  kwok/main.go
  pkg/apis/v1/labels.go
  pkg/apis/v1alpha1/nodeoverlay.go
  pkg/apis/v1alpha1/suite_test.go
  pkg/cloudprovider/overlay/cloudprovider.go
  pkg/cloudprovider/suite_test.go
  pkg/cloudprovider/types.go
  pkg/cloudprovider/zz_generated.deepcopy.go
  pkg/controllers/controllers.go
  pkg/controllers/disruption/helpers.go
  pkg/controllers/node/health/controller.go
  pkg/controllers/node/health/suite_test.go
  pkg/controllers/nodeoverlay/controller.go
  pkg/controllers/nodeoverlay/store.go
  pkg/controllers/nodeoverlay/suite_test.go
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/nodeclaimtemplate.go
  pkg/controllers/provisioning/scheduling/topology_test.go
  pkg/controllers/provisioning/scheduling/topologygroup.go
  pkg/controllers/provisioning/suite_test.go
  pkg/operator/operator.go
  pkg/operator/options/options.go
  pkg/operator/options/suite_test.go
  pkg/scheduling/requirement.go
  pkg/scheduling/zz_generated.deepcopy.go
  pkg/test/expectations/expectations.go
  pkg/test/nodeoverlay.go
  pkg/test/pods.go
  pkg/utils/daemonset/daemonset.go
  pkg/utils/daemonset/suite_test.go
  pkg/utils/resources/resources.go
  pkg/utils/resources/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/XXL, do-not-merge/invalid-commit-message

#2510 fix: drift and deprovisioning race condition
  go.mod
  go.sum
  pkg/controllers/disruption/queue.go
  pkg/controllers/disruption/queue_test.go
  pkg/controllers/disruption/staticdrift.go
  pkg/controllers/disruption/staticdrift_test.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/state/statenodepool.go
  pkg/controllers/state/statenodepool_test.go
  pkg/controllers/state/suite_test.go
  pkg/controllers/static/deprovisioning/controller.go
  pkg/controllers/static/deprovisioning/suite_test.go
  pkg/controllers/static/provisioning/controller.go
  pkg/controllers/static/provisioning/suite_test.go
  pkg/test/expectations/expectations.go
  test/suites/regression/staticcapacity_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/L

#2521 feat: Support Static Capacity
  .gitignore
  Makefile
  go.mod
  go.sum
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  kwok/charts/templates/deployment.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodepool.go
  pkg/apis/v1/nodepool_status.go
  pkg/apis/v1/nodepool_validation_cel_test.go
  pkg/apis/v1/zz_generated.deepcopy.go
  pkg/controllers/controllers.go
  pkg/controllers/disruption/consolidation.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/controller.go
  pkg/controllers/disruption/drift.go
  pkg/controllers/disruption/drift_test.go
  pkg/controllers/disruption/emptiness.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/disruption/queue.go
  pkg/controllers/disruption/queue_test.go
  pkg/controllers/disruption/singlenodeconsolidation.go
  pkg/controllers/disruption/singlenodeconsolidation_test.go
  pkg/controllers/disruption/staticdrift.go
  pkg/controllers/disruption/staticdrift_test.go
  pkg/controllers/disruption/suite_test.go
  pkg/controllers/disruption/types.go
  pkg/controllers/disruption/validation_test.go
  pkg/controllers/nodeclaim/disruption/controller.go
  pkg/controllers/nodeclaim/disruption/suite_test.go
  pkg/controllers/nodepool/counter/controller.go
  pkg/controllers/nodepool/counter/suite_test.go
  pkg/controllers/provisioning/provisioner.go
  pkg/controllers/provisioning/scheduling/nodeclaimtemplate.go
  pkg/controllers/provisioning/suite_test.go
  pkg/controllers/state/statenodepool.go
  pkg/controllers/state/statenodepool_test.go
  pkg/controllers/state/suite_test.go
  pkg/controllers/static/deprovisioning/controller.go
  pkg/controllers/static/deprovisioning/suite_test.go
  pkg/controllers/static/provisioning/controller.go
  pkg/controllers/static/provisioning/suite_test.go
  pkg/test/expectations/expectations.go
  pkg/test/nodepool.go
  pkg/utils/nodepool/nodepool.go
  test/pkg/environment/common/expectations.go
  test/suites/regression/integration_test.go
  test/suites/regression/staticcapacity_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/XXL, do-not-merge/invalid-commit-message

#2534 fix: over provisioning static nodeclaims during controller crashes
  pkg/controllers/state/cluster.go
  pkg/controllers/static/deprovisioning/controller.go
  pkg/controllers/static/provisioning/controller.go
  pkg/controllers/static/provisioning/suite_test.go
Labels: cncf-cla: yes, lgtm, approved, needs-ok-to-test, size/M

#2542 chore: drop consistency error to info log
  pkg/controllers/nodeclaim/consistency/controller.go
Labels: cncf-cla: yes, size/XS, lgtm, approved

#2538 fix: allow non-churn empty nodes to be disrupted (#2206)
  .golangci.yaml
  go.mod
  hack/toolchain.sh
  kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml
  kwok/charts/crds/karpenter.sh_nodeclaims.yaml
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  kwok/cloudprovider/cloudprovider.go
  kwok/cloudprovider/helpers.go
  pkg/apis/crds/karpenter.sh_nodeclaims.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/duration.go
  pkg/apis/v1/nodepool.go
  pkg/controllers/disruption/consolidation.go
  pkg/controllers/disruption/consolidation_test.go
  pkg/controllers/disruption/emptiness.go
  pkg/controllers/disruption/emptiness_test.go
  pkg/controllers/disruption/multinodeconsolidation.go
  pkg/controllers/disruption/orchestration/queue.go
  pkg/controllers/disruption/singlenodeconsolidation.go
  pkg/controllers/disruption/types.go
  pkg/controllers/disruption/validation.go
  pkg/controllers/metrics/nodepool/controller.go
  pkg/controllers/metrics/pod/controller.go
  pkg/controllers/node/health/controller.go
  pkg/controllers/node/health/suite_test.go
  pkg/controllers/node/termination/controller.go
  pkg/controllers/node/termination/terminator/eviction.go
  pkg/controllers/nodeclaim/disruption/drift.go
  pkg/controllers/nodeclaim/disruption/drift_test.go
  pkg/controllers/nodeclaim/expiration/suite_test.go
  pkg/controllers/nodeclaim/lifecycle/controller.go
  pkg/controllers/nodeclaim/lifecycle/termination_test.go
  pkg/controllers/provisioning/scheduling/nodeclaim.go
  pkg/controllers/provisioning/scheduling/scheduler.go
  pkg/test/cachesyncingclient.go
  pkg/test/environment.go
  pkg/test/v1alpha1/crds/karpenter.test.sh_testnodeclasses.yaml
  pkg/utils/disruption/disruption.go
  pkg/utils/pdb/pdb.go
  pkg/utils/pod/scheduling.go
  test/pkg/debug/node.go
  test/pkg/debug/nodeclaim.go
  test/pkg/debug/pod.go
  test/pkg/environment/common/environment.go
  test/suites/perf/scheduling_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, needs-ok-to-test

#2554 fix: nodepool crd definition should explicitly say replicas field as alpha
  kwok/charts/crds/karpenter.sh_nodepools.yaml
  pkg/apis/crds/karpenter.sh_nodepools.yaml
  pkg/apis/v1/nodepool.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, needs-ok-to-test
